/* ========== Font config =================================================== */

@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/dm-sans-v15-latin/dm-sans-v15-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

/* ========== General style ================================================= */

:root
{
    --background1:#323861; 
    --background2:#14B789;
    --background3:#E8DEDE;
    --mainFont:'DM Sans';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

body {
    font-family: var(--mainFont);
    font-size: 18px;
}

.button {
    border: 1px solid white;
    color: white;
    border-radius: 64px;
    font-size: 1rem;
    padding: 10px;
}
/* ========== Banner style ================================================== */

#banner {
    background-color: var(--background1);
    color: white;
    display: flex;
    align-items: center;
    padding: 16px 0px;
}

#banner h1 {
    width: 25%;
    margin-left: 16px;
    font-size: 1.8rem;
}

#banner h1 a {
    color: white;
}

/* ---------- header > nav -------------------------------------------------- */

#banner #navMenu {
    width: 50%;
}

#banner #navMenu ul {
    display: flex;
}

#banner #navMenu ul li a {
    color: white;
    margin-right: 16px;
    padding-bottom: 3px;
}

#banner #navMenu ul li a:hover,
#banner #navMenu ul li a.choice {
    border-bottom: 2px solid var(--background2);
    color: var(--background2);
}
/* ---------- header > phone ------------------------------------------------ */

#banner #phone {
    display: flex;
    width: 25%;
    align-items: center;
    justify-content: center;
}

#banner #phone i {
    color: var(--background1);
    background-color: white;
    border-radius: 50%;
    padding: 8px;
    margin-right: 16px;
}

#banner #phone .phoneNumber {
    padding: 8px 16px;
    border: 1px solid white;
    border-radius: 32px;
}

/* ========== Welcome style ================================================= */

#welcome {
    display: flex;
    background-color: var(--background1);
    justify-content: space-between;
    padding: 40px;
}

#welcome .welcomeText {
    width: 70%;
}

#welcome .welcomeText .hello {
    display: flex;
    margin-top: 20px;
}

#welcome .welcomeText .hello img {
    width: 12%;
    margin-right: 16px;
}

#welcome .welcomeText .hello h2 {
    background-color: white;
    color: black;
    border-radius: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 80px;
    margin: 10px 0;
    font-size: 2rem;
}

#welcome .welcomeText h3 {
    background-color:white;
    border-radius: 64px;
    color: var(--background2);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: 50px 0;
    padding: 12px 16px;
    font-size: 1.5rem;
}

#welcome .bigPicture {
    width: 30%;
}

#welcome .bigPicture img {
    width: 100%;
}

/* ========== About me style ================================================ */

#aboutMe {
    background-color: var(--background3);
    display: flex;
    justify-content: space-evenly;
}

#aboutMe .aboutImage,
#aboutMe #myself {
    width: 48%;
}

#aboutMe .aboutImage {
    height: 100%;
    border-radius: 25px;
}