/* ========== Font config =================================================== */

@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/dm-sans-v15-latin/dm-sans-v15-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

/* ========== General style ================================================= */

:root
{
    --background1:#323861; 
    --background2:#14B789;
    --background3:#E8DEDE;
    --mainFont:'DM Sans';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

body {
    font-family: var(--mainFont);
    font-size: 18px;
}

#content {
    background-color: var(--background3);
}

.button {
    border: 1px solid white;
    color: white;
    border-radius: 64px;
    font-size: 1rem;
    padding: 10px;
}
/* ========== Banner style ================================================== */

#banner {
    background-color: var(--background1);
    color: white;
    display: flex;
    align-items: center;
    padding: 16px 0px;
}

#banner h1 {
    width: 25%;
    margin-left: 16px;
    font-size: 1.8rem;
}

#banner h1 a {
    color: white;
}

/* ---------- header > nav -------------------------------------------------- */

#banner #navMenu {
    width: 50%;
}

#banner #navMenu ul {
    display: flex;
}

#banner #navMenu ul li a {
    color: white;
    margin-right: 16px;
    padding-bottom: 3px;
}

#banner #navMenu ul li a:hover,
#banner #navMenu ul li a.choice {
    border-bottom: 2px solid var(--background2);
    color: var(--background2);
}
/* ---------- header > phone ------------------------------------------------ */

#banner #phone {
    display: flex;
    width: 25%;
    align-items: center;
    justify-content: center;
}

#banner #phone i {
    color: var(--background1);
    background-color: white;
    border-radius: 50%;
    padding: 8px;
    margin-right: 16px;
}

#banner #phone .phoneNumber {
    padding: 8px 16px;
    border: 1px solid white;
    border-radius: 32px;
}

/* ========== Welcome style ================================================= */

#welcome {
    display: flex;
    background-color: var(--background1);
    justify-content: space-between;
    padding: 40px;
}

#welcome .welcomeText {
    width: 70%;
}

#welcome .welcomeText .hello {
    display: flex;
    margin-top: 20px;
}

#welcome .welcomeText .hello img {
    width: 12%;
    margin-right: 16px;
}

#welcome .welcomeText .hello h2 {
    background-color: white;
    color: black;
    border-radius: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 80px;
    margin: 10px 0;
    font-size: 2rem;
}

#welcome .welcomeText h3 {
    background-color:white;
    border-radius: 64px;
    color: var(--background2);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: 50px 0;
    padding: 12px 16px;
    font-size: 1.5rem;
}

#welcome .bigPicture {
    width: 30%;
}

#welcome .bigPicture img {
    width: 100%;
}

/* ========== About me style ================================================ */

#aboutMe {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 40px 24px;
}

#aboutMe .aboutImage,
#aboutMe #aboutContent {
    width: 46%;
}

.title {
    display: flex;
    background-color: var(--background2);
    border-radius: 25px;
    color: white;
    align-items: center;
    justify-content: center;
    font-size: 2.8rem;
    padding: 0 10%;
}

#aboutMe #aboutContent h2 img {
    width: 18%;
    margin-left: 32px;
}

#aboutMe .aboutImage {
    height: 100%; /* avoids image stretching vertically */
    border-radius: 25px;
}

#aboutMe #aboutContent h3 {
    font-weight: bold;
    margin: 16px 0;
}

/* ========== My projects style ============================================= */

#myProjects {
    display: flex;
    flex-wrap: wrap;
    padding: 40px 48px;
    flex-wrap: wrap;
}

#myProjects .title {
    flex-direction: row-reverse;
    width: 48%;
    margin-bottom: 40px;
}

#myProjects h2 img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 32px;
}

#myProjects #projects {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#myProjects #projects .project {
    width: 48%;
    background-color: white;
    border-radius: 25px;
    padding: 40px;
    height: 490px;
    overflow: hidden;
}

#myProjects #projects .project:hover {
    border: var(--background2) solid 2px;
}

#myProjects #projects .project h4 {
    font-size: 0.8rem;
    font-weight: bold;
}

#myProjects .project img {
    width: 90%;
    border-radius: 25px;
    margin-top: 40px;
    transform: rotate(10deg);
}

/* ========== Contact style ================================================= */

#footer {
    background-color: var(--background3);
}

#footer #info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 40px 24px;
}

#footer #info #contact,
#footer #info #form {
    width: 46%;
}

#footer #info #contact {
    display: flex;
    background-color: white;
    padding: 40px;
    border-radius: 25px;
    max-height: 340px;
    margin-top: 165px;
}

#footer #info #contact .column {
    width: 48%;
}

#footer #info #contact .column h4 {
    margin: 10px 0;
}

#footer #info #contact .column ul {
    display: flex;
}
#footer #info #contact .column ul li a {
    margin: 0 10px;
    color: var(--background2);
}

#footer #info #form .title {
    flex-direction: row-reverse;
    margin-bottom: 40px;
}

#footer #info #form p{
    margin: 8px;
}

#footer #info #form input[type=text],
#footer #info #form input[type=email],
#footer #info #form textarea {
    width: 100%;
    border: none;
    padding: 8px;
    border-radius: 8px;
}

#footer #info #form input[type=submit] {
    background-color: var(--background2);
    color: white;
    border: none;
    border-radius: 16px;
    padding: 8px 16px;
    font-size: 16px;
}

#footer #info #form .title img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 32px;
}

#copyright {
    display: flex;
    justify-content: center;
}

@media screen and (max-width : 768px){
    #aboutMe .aboutImage,
    #aboutMe #aboutContent {
        width: 98%;
    }

    #myProjects #projects .project{
        width: 98%;
        height: 350px;
        margin-bottom: 16px;
    }

    #myProjects .title {
        width: 98%;
    }

    #footer #info {
        flex-direction: column-reverse;
    }

    #footer #info #contact,
    #footer #info #form {
        width: 98%;
    }
}